@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ultra&display=swap');

body {
  margin: 0;
 font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: "../src/assets/dotted.png";
  background-image: rgba(230, 5, 5, 0.527) !important;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
